@model refwebportal.GamePlayer

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>GamePlayer</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IsCaptain)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsCaptain)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SquadNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SquadNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Game.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Game.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Player.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Player.FirstName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Goals)
        </dt>
        <dd>
            <table class="table">
                <tr>
                    <th>Goal Time</th>
                    <th>Is Own Goal?</th>
                </tr>
                @foreach (var item in Model.Goals)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.GoalTime)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.IsOwnGoal)
                        </td>
                    </tr>
                }
            </table>
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Penalties)
        </dt>
        <dd>
            <table class="table">
                <tr>
                    <th>Penalty Time</th>
                    <th>Penalty Code</th>
                    <th>Penalty Description</th>
                </tr>
                @foreach (var item in Model.Penalties)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.PenaltyTime)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PenaltyType.Code)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PenaltyType.Description)
                        </td>
                    </tr>
                }
            </table>
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Substitutions)
        </dt>
        <dd>
            <table class="table">
                <tr>
                    <th>Substitution Time</th>
                    <th>Sub Going Off Field</th>
                    <th>Sub Going On Field</th>
                </tr>
                @foreach (var item in Model.Substitutions1)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.SubstitutionTime)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.GamePlayer1.SquadNumber)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.GamePlayer2.SquadNumber )
                        </td>
                    </tr>
                }
            </table>
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
