@model refwebportal.Models.GamesIndexData

@{
    ViewBag.Title = "Games";
}

<h2>Games</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>Game Date Time</th>
        <th>Description</th>

        <th></th>
    </tr>

    @foreach (var item in Model.Games)
    {
        string selectedRow = "";
        if (item.Id == ViewBag.GameId)
        {
            selectedRow = "success";
        }
        <tr class="@selectedRow">
            <td>
                @Html.DisplayFor(modelItem => item.GameDateTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
 
            <td>
                @Html.ActionLink("Select", "Index", new { id = item.Id }) |
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>

@if (Model.GameTeams != null)
{
    <h3>Teams who played in selected Game</h3>
    <table class="table">
        <tr>
            <th></th>
            <th>Team Name</th>
            <th>Team Colour</th>
        </tr>

        @foreach (var item in Model.GameTeams)
        {
            string selectedRow = "";
            if (item.Id == ViewBag.GameTeamId)
            {
                selectedRow = "success";
            }
            <tr class="@selectedRow">
                <td>
                    @Html.ActionLink("Select", "Index", new { gameTeamId = item.Id })
                </td>
                <td>
                    @item.Team.Name
                </td>
                <td>
                    @item.Team.Colour
                </td>

            </tr>
        }

    </table>
}

@if (Model.GamePlayers != null)
{
    <h3>
        Game Players
    </h3>
    <table class="table">
        <tr>
            <th>Team</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Is Captain</th>
        </tr>
        @foreach (var item in Model.GamePlayers)
        {
            <tr>
                <td>
                    @item.Player.Team.Name
                </td>
                <td>
                    @item.Player.FirstName
                </td>
                <td>
                    @item.Player.LastName
                </td>
                <td>
                    @item.IsCaptain
                </td>
                <td>
                    @Html.ActionLink("Details", "../GamePlayer/Details", new { id = item.Id })
                </td>
            </tr>
        }
    </table>
}